* {
  padding: 0;
  margin: 0;
}

:root {
  --shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.75);
}

@font-face {
  font-family: "jjk";
  src: url("font/jujustu-kaisen.ttf");
}

body {
  background-color: #cec5c3;
  font-family: "jjk", sans-serif;
  overflow-x: hidden;
}

a {
  color: black;
  text-decoration: none;
}

i {
  font-size: 25px;
}

svg {
  display: inline;
  height: 25px;
  width: 25px;
}

img#about {
  width: 350px;
}

.icons {
  display: flex;
  gap: 20px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

header,
footer {
  display: flex;
}

.trapezoid {
  position: absolute;
  width: 100%;
  height: 600px;
  top: -100px;
  z-index: -1;
  filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.75));
}

header {
  margin: 100px 50px;
  justify-content: center;
}

figure {
  position: relative;
  float: left;
}

figcaption {
  color: #cec5c3;
  font-size: 50px;
  position: absolute;
  left: 50%;
  top: 400px;
  transform: translateX(-50%);
}

section {
  background-color: #cec5c3;
  box-shadow: var(--shadow);
  max-width: 600px;
  padding: 50px 50px;
  margin: 100px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

section .icons {
  align-self: end;
}

main {
  margin: 100px;
}

main h1 {
  padding-bottom: 25px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 150px;
  justify-items: center;
}

.project {
  box-shadow: var(--shadow);
  max-width: 400px;
}

.title {
  margin: 50px 50px;
  display: flex;
  justify-content: space-between;
}

.project p {
  margin: 50px 50px;
}

.screenshot {
  font-size: 50px;
  padding: 45px 15px;
  text-align: center;
}

footer {
  background-color: #38492c;
  color: #cec5c3;
  padding: 50px;
  justify-content: space-between;
}

footer a {
  color: #cec5c3;
}

footer svg {
  fill: #cec5c3;
}
address {
  margin-right: 25px;
}

address h1,
address p,
address div {
  padding-bottom: 25px;
}

@media (max-width: 1200px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main h1 {
    text-align: center;
  }
}

@media (max-width: 600px) {
  header,
  main {
    margin: 25px;
  }
  footer,
  address,
  picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  figcaption {
    top: 350px;
  }
  .projects {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
